
@{
    ViewData["Title"] = "Detail";
    EventDetails eventDetails = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@eventDetails.UpCommingEvents.CourseName</h4>
                <p>
                    <img src="~/img/event/@eventDetails.UpCommingEvents.Image" alt="course">
                </p>
                <p>
                    @eventDetails.Description
                </p>
                <p>
                   City:  @eventDetails.UpCommingEvents.City
                </p>
                <p>
                   Time: @eventDetails.UpCommingEvents.Date | @eventDetails.UpCommingEvents.Time
                </p>
                 
                <p>
                    Speaker:
                    @foreach (var item in eventDetails.UpCommingEvents.SpeakerEventDetails)
                    {
                        <div class="single-speaker">
                            <div class="speaker-img">
                                <img src="~/img/event/@item.Speaker.Image" alt="speaker">
                            </div>
                            <div class="speaker-name">
                                <h5>@item.Speaker.FullName</h5>
                                <p>@item.Speaker.Position</p>
                            </div>
                        </div>
                    }
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <a asp-action="Index" class="btn-btn-primary">Go to Back</a>
</div>